div.tab-content {
    position: -webkit-sticky;
    position: sticky;
    top: 80px;
    padding: 50px;
    font-size: 20px;
}
.aws-btn {
    --button-secondary-color: #db3d3d;
    --button-secondary-color-dark: #661414;
    --button-secondary-color-light: #ffffff;
    --button-secondary-color-hover: #d40c0c;
    --button-secondary-border: none;
}